.apartment-filter
  .apartment-filter__wrap
    .close-btn
    .apartment-filter__header
      .apartment-filter__header-col 
        .apartment-filter__title Выберите дом
        .select.filter-select.select-obj
          .selected Все
          .select-dropdown
            .select-option(data-value="Все").all-obj-js Все
            .select-option(data-value="ЖД «Мурас»").muras-js ЖД «Мурас»
            .select-option(data-value="ЖД «Жетиген»").jetigen-js ЖД «Жетиген»
      .apartment-filter__header-col 
        .apartment-filter__title Комнтаность
        .select.filter-select.select-room
          .selected 1 комнатная
          .select-dropdown
            .select-option(data-value="1 комнатная").one-room-js 1 комнатная
            .select-option(data-value="2 комнатная").two-room-js 2 комнатная
            .select-option(data-value="3 комнатная").three-room-js 3 комнатная
        
      .apartment-filter__header-col 
        .apartment-filter__title Готовность дома
        .select.filter-select.select-condition
          .selected На стадии строительства
          .select-dropdown
            .select-option(data-value="На стадии строительства").stage-building-js На стадии строительства
            .select-option(data-value="На стадии завершения").stage-completion-js На стадии завершения
            .select-option(data-value="Завершен").stage-completed-js Завершен
    .apartment-filter__body
      mixin muras(img,count,square, object, filter, status)   
        .apartment-filter__item(class=filter)   
          .apartment-filter__item-img
            a(href="/img/muras/" + img + ".webp" data-fancybox style="background-image: url('/img/muras/preview/"+img+".webp')")

          .apartment-filter__item-wrap 
            .apartment-filter__item-count(data-count=count)=count   
            .apartment-filter__item-square(data-square=square)=square   
            .apartment-filter__item-object(data-object=object)=object
            .apartment-filter__item-status.hidden(data-status=status) 
            button.btn.btn--empty.btn-application-js
              span Оставить заявку   
      mixin jetigen(img,count,square, object, filter, status)   
        .apartment-filter__item(class=filter)   
          .apartment-filter__item-img
            a(href="/img/jetigen/" + img + ".webp" data-fancybox style="background-image: url('/img/jetigen/preview/"+img+".webp')")
            
          .apartment-filter__item-wrap 
            .apartment-filter__item-count(data-count=count)=count   
            .apartment-filter__item-square(data-square=square)=square   
            .apartment-filter__item-object(data-object=object)=object
            .apartment-filter__item-status.hidden(data-status=status) 
            button.btn.btn--empty.btn-application-js
              span Оставить заявку   
      +muras('1.25.17','1 комнатная квартира','25,17 м2','ЖД «Мурас»','all-obj muras-obj stage-building one-room', 'На стадии строительства')
      +muras('1.43.51','1 комнатная квартира','43,51 м2','ЖД «Мурас»','all-obj muras-obj stage-building one-room', 'На стадии строительства')
      +muras('1.44.41','1 комнатная квартира','44,41 м2','ЖД «Мурас»','all-obj muras-obj stage-building one-room', 'На стадии строительства')
      +muras('1.44.95','1 комнатная квартира','44,95 м2','ЖД «Мурас»','all-obj muras-obj stage-building one-room', 'На стадии строительства')
      +muras('1.44.97','1 комнатная квартира','44,97 м2','ЖД «Мурас»','all-obj muras-obj stage-building one-room', 'На стадии строительства')
      +muras('1.45.45','1 комнатная квартира','45,45 м2','ЖД «Мурас»','all-obj muras-obj stage-building one-room', 'На стадии строительства')
      +muras('1.45.85','1 комнатная квартира','45,85 м2','ЖД «Мурас»','all-obj muras-obj stage-building one-room', 'На стадии строительства')
            
      +muras('2.57.47','2 комнатная квартира','57,47 м2','ЖД «Мурас»','all-obj muras-obj stage-building two-room', 'На стадии строительства')
      +muras('2.66.72','2 комнатная квартира','66,72 м2','ЖД «Мурас»','all-obj muras-obj stage-building two-room', 'На стадии строительства')
      +muras('2.67.62','2 комнатная квартира','67,62 м2','ЖД «Мурас»','all-obj muras-obj stage-building two-room', 'На стадии строительства')
      +muras('2.67.74','2 комнатная квартира','67,74 м2','ЖД «Мурас»','all-obj muras-obj stage-building two-room', 'На стадии строительства')
      +muras('2.67.74-invert','2 комнатная квартира','67.74 м2','ЖД «Мурас»','all-obj muras-obj stage-building two-room', 'На стадии строительства')
      +muras('2.69.43','2 комнатная квартира','69,43 м2','ЖД «Мурас»','all-obj muras-obj stage-building two-room', 'На стадии строительства')
      +muras('2.70.01','2 комнатная квартира','70,01 м2','ЖД «Мурас»','all-obj muras-obj stage-building two-room', 'На стадии строительства')
      +muras('2.73.16','2 комнатная квартира','73,16 м2','ЖД «Мурас»','all-obj muras-obj stage-building two-room', 'На стадии строительства')
      
      +muras('3.105.79','3 комнатная квартира','105,79 м2','ЖД «Жетиген»','all-obj jetigen-obj stage-building three-room', 'На стадии строительства')

      +jetigen('1 комн. 34,03','1 комнатная квартира','34,03 м2','ЖД «Жетиген»','all-obj jetigen-obj stage-building one-room', 'На стадии строительства')
      +jetigen('1 комн. 34,35','1 комнатная квартира','34,35 м2','ЖД «Жетиген»','all-obj jetigen-obj stage-building one-room', 'На стадии строительства')
      +jetigen('1 комн. 37,11','1 комнатная квартира','37,11 м2','ЖД «Жетиген»','all-obj jetigen-obj stage-building one-room', 'На стадии строительства')
      +jetigen('1 комн. 41,85','1 комнатная квартира','41,85 м2','ЖД «Жетиген»','all-obj jetigen-obj stage-building one-room', 'На стадии строительства')
      +jetigen('1 комн. 42,50','1 комнатная квартира','42,50 м2','ЖД «Жетиген»','all-obj jetigen-obj stage-building one-room', 'На стадии строительства')
      +jetigen('1 комн. 42,82','1 комнатная квартира','42,82 м2','ЖД «Жетиген»','all-obj jetigen-obj stage-building one-room', 'На стадии строительства')
      +jetigen('1 комн. 43,73','1 комнатная квартира','43,73 м2','ЖД «Жетиген»','all-obj jetigen-obj stage-building one-room', 'На стадии строительства')
      +jetigen('1 комн. 44,37','1 комнатная квартира','44,37 м2','ЖД «Жетиген»','all-obj jetigen-obj stage-building one-room', 'На стадии строительства')
      +jetigen('2 комн. 62,14','2 комнатная квартира','62,14 м2','ЖД «Жетиген»','all-obj jetigen-obj stage-building two-room', 'На стадии строительства')
      +jetigen('2 комн. 77,78','2 комнатная квартира','77,78 м2','ЖД «Жетиген»','all-obj jetigen-obj stage-building two-room', 'На стадии строительства')
      +jetigen('3 комн. 87,48','3 комнатная квартира','77,78 м2','ЖД «Жетиген»','all-obj jetigen-obj stage-building three-room', 'На стадии строительства')
      
      //- +item('/img/room.webp','','1 комнатная квартира','109.7 м2','ЖД «Мурас»','all-obj muras-obj stage-building one-room')
      //- +item('/img/room.webp','','2 комнатная квартира','209.7 м2','ЖД «Мурас»','all-obj muras-obj stage-building two-room')
      //- +item('/img/room.webp','','3 комнатная квартира','309.7 м2','ЖД «Мурас»','all-obj muras-obj stage-building three-room')


         